schema/perspectography.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" 
  type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" 
  type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Perspectography</title>
      </titleStmt>
      <publicationStmt>
        <p>Copyleft Ashley M. Clark, 2016.</p>
      </publicationStmt>
      <sourceDesc>
        <p>This ODD was built off of a template from the "TEI Customization" workshop of the 
          Women Writers Project. See <ptr target="http://wwp.neu.edu/outreach/resources/customization.html"/>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="amclark42" when="2017-10-01">Changed added attribute <att>relation</att> to a 
        modification of <att>n</att>.</change>
      <change who="amclark42" when="2017-08-20">Changed <att>relation</att> and <gi>gender</gi>'s 
        <att>value</att> to use the string datatype. Removed many excluded elements.</change>
      <change who="amclark42" when="2017-08-13">Updated to TEI version 3.2.0, which adds 
        <gi>persona</gi>.</change>
      <change who="amclark42" when="2016-05-15">Added "tagdocs" module.</change>
      <change who="amclark42" when="2016-04-03">Changed the datatype of <att>value</att> on 
        <gi>gender</gi> to 'text', so that spaces are allowed as input.</change>
      <change who="amclark42" when="2016-03-04">Replaced <gi>pcvdGender</gi> with a modified 
        version of TEI's <gi>sex</gi>, renamed to <gi>gender</gi> and given a default 
        <att>evidence</att> value of "conjecture." Greatly expanded the list of suggested values 
        for <att>value</att> on <gi>gender</gi>, and added descriptions. Allowed several elements 
        previously excluded from the schema.</change>
      <change who="amclark42" when="2016-01">Added W3C date attributes to <gi>catRef</gi>.</change>
      <change who="amclark42" when="2015-11">Created first draft.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="perspectography" source="tei:3.2.0" start="TEI">
        <desc>A schema for the use of making various 'ographies.</desc>
        
        <moduleRef key="core" exclude="divGen"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 
          div6 div7"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="linking"/>
        <moduleRef key="tagdocs"/>
        
        <elementSpec module="namesdates" ident="sex" mode="change">
          <altIdent>gender</altIdent>
          <attList>
            <attDef ident="evidence" mode="replace" usage="rec">
              <desc>indicates support for the gender identity listed in <att>value</att>. The default value is "conjecture."</desc>
              <datatype>
                <dataRef key="data.enumerated"/>
              </datatype>
              <defaultVal>conjecture</defaultVal>
              <valList type="semi">
                <valItem ident="conjecture">
                  <desc>The gender identity listed in <att>value</att> was likely selected due to assumptions by someone besides the person in question. As a result, <att>value</att> may be erroneous and presumptive.</desc>
                </valItem>
                <valItem ident="self-identification">
                  <desc>The gender identity listed in <att>value</att> has been explicitly stated or confirmed by the person to whom this classification applies.</desc>
                </valItem>
              </valList>
            </attDef>
            
            <attDef ident="value" mode="replace" usage="req">
              <desc>classifies gender identity.</desc>
              <datatype>
                <dataRef name="string"/>
              </datatype>
              <valList type="semi">
                <valItem ident="agender">
                  <desc>Person identifies as without gender.</desc>
                </valItem>
                <valItem ident="androgynous">
                  <desc>Person identifies or presents as neither masculine nor feminine, but as neutral or mixed gender.</desc>
                </valItem>
                <valItem ident="bigender">
                  <desc>Person identifies as a mix of masculine and feminine genders. This term differs from "pangender" in that it places gender in a masculine/feminine binary, rather than along a diverse spectrum.</desc>
                </valItem>
                <valItem ident="female">
                  <desc>Person identifies as female.</desc>
                </valItem>
                <valItem ident="genderfluid">
                  <desc>Person's gender identification is fluid, shifting on the gender spectrum over time.</desc>
                </valItem>
                <valItem ident="gender-nonconforming">
                  <desc>Person does not conform to societal divisions of gender. Related to "genderqueer," "gender-questioning," and "non-binary."</desc>
                </valItem>
                <valItem ident="genderqueer">
                  <desc>Person does not conform to societal divisions of gender. Related to "gender-nonconforming," "gender-questioning," and "non-binary."</desc>
                </valItem>
                <valItem ident="gender-questioning">
                  <desc>Person is exploring or does not know how they prefer to present and/or identify within the gender spectrum.</desc>
                </valItem>
                <valItem ident="male">
                  <desc>Person identifies as male.</desc>
                </valItem>
                <valItem ident="other">
                  <desc>Person prefers not to identify their gender.</desc>
                </valItem>
                <valItem ident="non-binary">
                  <desc>Person does not conform to societal divisions of gender. Related to "gender-nonconforming," "genderqueer," and "gender-questioning."</desc>
                </valItem>
                <valItem ident="pangender">
                  <desc>Person identifies with many genders. This term differs from "bigender" in that it places gender along a diverse spectrum, rather than in a masculine/feminine binary.</desc>
                </valItem>
                <valItem ident="trans*">
                  <desc>An inclusive, umbrella term for persons whose identity or presentation challenges societal gender norms. Includes "transgender," "gender-nonconforming," "genderqueer," "non-binary," etc.</desc>
                </valItem>
                <valItem ident="transgender">
                  <desc>Person whose gender identity does not match their assigned sex.</desc>
                </valItem>
                <valItem ident="trans female">
                  <desc>Transgender person identifies as female.</desc>
                </valItem>
                <valItem ident="transfeminine">
                  <desc>Transgender person identifies as feminine within the gender spectrum.</desc>
                </valItem>
                <valItem ident="trans male">
                  <desc>Transgender person who identifies as male.</desc>
                </valItem>
                <valItem ident="transmasculine">
                  <desc>Transgender person identifies as masculine within the gender spectrum.</desc>
                </valItem>
                <valItem ident="trans person">
                  <desc>Transgender person.</desc>
                </valItem>
                <!--<valItem ident="two-spirit">
                </valItem>-->
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec module="header" ident="catRef" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="add"/>
          </classes>
        </elementSpec>

        <elementSpec module="core" ident="resp" mode="change">
          <attList>
            <attDef ident="n" mode="replace">
              <!--<desc>[fill in]</desc>-->
              <datatype>
                <dataRef name="string"/>
              </datatype>
              <valList type="semi">
                <valItem ident="abridger">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="adapter">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="artist">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="author">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="author of afterword, colophon, etc.">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="author of introduction, etc.">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="autographer">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="colorist">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="compiler">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="contributor">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="copyright holder">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="cover designer">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="creator">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="depicted">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="editor">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="editor of compilation">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="illustrator">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="inker">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="lender">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="letterer">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="other">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="photographer">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="publisher">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="translator">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="voice actor">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="writer of introduction">
                  <desc>FIX ME</desc>
                </valItem>
                <valItem ident="writer of preface">
                  <desc>FIX ME</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
