schema/perspectography.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" 
  type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" 
  type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Perspectography</title>
      </titleStmt>
      <publicationStmt>
        <p>Copyleft Ashley M. Clark, 2016.</p>
      </publicationStmt>
      <sourceDesc>
        <p>This ODD was built off of a template from the "TEI Customization" workshop of the 
          Women Writers Project. See <ptr target="http://wwp.neu.edu/outreach/resources/customization.html"/>.</p>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change who="amclark42" when="2020-03-26">Incorporated @sydb's suggestions into the 
        definition for <gi>persPronouns</gi>. (Thanks, Syd!) Added sample encoding.</change>
      <change who="amclark42" when="2020-03-25">Changed <att>persPronouns</att> to <gi>persPronouns</gi>, 
        since personal pronouns can be known when gender identity is not. The new element is based 
        on <gi>tei:sex</gi>.</change>
      <change who="amclark42" when="2020-03-07">Updated to TEI version 4.0.0. Added a custom 
        attribute <att>persPronouns</att> to <gi>gender</gi>. There are queer authors whose gender 
        identities I can't find (the process of looking feels invasive, too), and I would rather 
        not assume a <att>value</att>. I often can find their pronouns, however, and I would like 
        to use those instead of <att>value</att>. Also, programmatically applied the Library of 
        Congress relation descriptions to the values listed for <code lang="xpath">//resp/@n</code>.</change>
      <change who="amclark42" when="2019-02-24">Added <gi>catRef</gi> to model.imprintPart, which
        should allow <gi>catRef</gi> as a child of <gi>bibl</gi>. <gi>trait</gi> just feels to me 
        like a poor placeholder for the category reference I really mean.</change>
      <change who="amclark42" when="2017-10-01">Changed added attribute <att>relation</att> to a 
        modification of <att>n</att>.</change>
      <change who="amclark42" when="2017-08-20">Changed <att>relation</att> and <gi>gender</gi>'s 
        <att>value</att> to use the string datatype. Removed many excluded elements.</change>
      <change who="amclark42" when="2017-08-13">Updated to TEI version 3.2.0, which adds 
        <gi>persona</gi>.</change>
      <change who="amclark42" when="2016-05-15">Added "tagdocs" module.</change>
      <change who="amclark42" when="2016-04-03">Changed the datatype of <att>value</att> on 
        <gi>gender</gi> to 'text', so that spaces are allowed as input.</change>
      <change who="amclark42" when="2016-03-04">Replaced <gi>pcvdGender</gi> with a modified 
        version of TEI's <gi>sex</gi>, renamed to <gi>gender</gi> and given a default 
        <att>evidence</att> value of "conjecture." Greatly expanded the list of suggested values 
        for <att>value</att> on <gi>gender</gi>, and added descriptions. Allowed several elements 
        previously excluded from the schema.</change>
      <change who="amclark42" when="2016-01">Added W3C date attributes to <gi>catRef</gi>.</change>
      <change who="amclark42" when="2015-11">Created first draft.</change>
    </revisionDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="perspectography" source="tei:4.0.0" start="TEI">
        <desc>A schema for the use of making various 'ographies.</desc>
        
        <moduleRef key="core" exclude="divGen"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"/>
        <moduleRef key="textstructure" exclude="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="linking"/>
        <moduleRef key="tagdocs"/>
        
        <elementSpec ident="persPronouns" mode="add">
          <desc>lists personal pronouns.</desc>
          <classes>
            <memberOf key="att.global"/>
            <memberOf key="att.editLike"/>
            <memberOf key="att.datable"/>
            <memberOf key="att.typed"/>
            <memberOf key="model.persStateLike"/>
          </classes>
          <content>
            <macroRef key="macro.phraseSeq"/>
          </content>
          <attList>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="evidence" mode="replace" usage="rec">
              <desc>indicates support for the listed personal pronouns. The default value 
                is "conjecture."</desc>
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <defaultVal>conjecture</defaultVal>
              <valList type="semi">
                <valItem ident="conjecture">
                  <desc>The given value was likely selected due to assumptions by someone 
                    besides the person in question. As a result, the value may be 
                    erroneous and presumptive.</desc>
                </valItem>
                <valItem ident="self-identification">
                  <desc>The given value has been explicitly stated or confirmed by the 
                    person to whom this classification applies.</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="value" usage="rec">
              <desc>supplies a regularized value for personal pronouns.</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.enumerated"/>
              </datatype>
              <valList type="semi">
                <valItem ident="e/em/eirs"/>
                <valItem ident="he/him/his"/>
                <valItem ident="she/her/hers"/>
                <valItem ident="they/them/theirs"/>
              </valList>
            </attDef>
          </attList>
          <exemplum>
            <egXML xmlns="http://www.tei-c.org/ns/Examples">
              <person>
                <persName>
                  <forename>SUE</forename>
                  <addName>the T. rex</addName>
                </persName>
                <residence>The Field Museum. Chicago, Illinois, United States.</residence>
                <persPronouns value="they/them/theirs">they/them</persPronouns>
                <note>
                  <cit>
                    <quote>Specimen FMNH PR 2081. Legendary Fossil. Apex Predator. National Treasure. 
                      <emph style="text-transform:uppercase; letter-spacing:0.25rem;">Murderbird.</emph></quote>
                    <bibl>SUEtheTrex, Twitter biography. <ptr target="https://twitter.com/SUEtheTrex"/>. 
                      Accessed <date when="2020-03-25">March 25th, 2020</date>.</bibl>
                  </cit>
                </note>
              </person>
            </egXML>
          </exemplum>
        </elementSpec>
        
        <elementSpec module="namesdates" ident="sex" mode="change">
          <!-- Give the TEI element <sex> the alternate name <gender>, which seems more 
            accurate to me (and also more comfortable). -->
          <altIdent>gender</altIdent>
          <attList>
            <!-- (sex | gender)/@evidence -->
            <attDef ident="evidence" mode="replace" usage="rec">
              <desc>indicates support for the gender identity listed in <att>value</att>. 
                The default value is "conjecture."</desc>
              <datatype>
                <dataRef key="data.enumerated"/>
              </datatype>
              <defaultVal>conjecture</defaultVal>
              <valList type="semi">
                <valItem ident="conjecture">
                  <desc>The given value was likely selected due to assumptions by someone 
                    besides the person in question. As a result, the value may be 
                    erroneous and presumptive.</desc>
                </valItem>
                <valItem ident="self-identification">
                  <desc>The given value has been explicitly stated or confirmed by the 
                    person to whom this classification applies.</desc>
                </valItem>
              </valList>
            </attDef>
            <!-- (sex | gender)/@value -->
            <attDef ident="value" mode="replace" usage="rec">
              <desc>classifies gender identity.</desc>
              <datatype minOccurs="1" maxOccurs="unbounded">
                <dataRef key="teidata.word"/>
              </datatype>
              <valList type="semi">
                <valItem ident="agender">
                  <desc>Person identifies as without gender.</desc>
                </valItem>
                <valItem ident="androgynous">
                  <desc>Person identifies or presents as neither masculine nor feminine, but as neutral or mixed gender.</desc>
                </valItem>
                <valItem ident="bigender">
                  <desc>Person identifies as a mix of masculine and feminine genders. This term differs from "pangender" in that it places gender in a masculine/feminine binary, rather than along a diverse spectrum.</desc>
                </valItem>
                <valItem ident="female">
                  <desc>Person identifies as female.</desc>
                </valItem>
                <valItem ident="genderfluid">
                  <desc>Person's gender identification is fluid, shifting on the gender spectrum over time.</desc>
                </valItem>
                <valItem ident="gender-nonconforming">
                  <desc>Person does not conform to societal divisions of gender. Related to "genderqueer," "gender-questioning," and "non-binary."</desc>
                </valItem>
                <valItem ident="genderqueer">
                  <desc>Person does not conform to societal divisions of gender. Related to "gender-nonconforming," "gender-questioning," and "non-binary."</desc>
                </valItem>
                <valItem ident="gender-questioning">
                  <desc>Person is exploring or does not know how they prefer to present and/or identify within the gender spectrum.</desc>
                </valItem>
                <valItem ident="male">
                  <desc>Person identifies as male.</desc>
                </valItem>
                <valItem ident="other">
                  <desc>Person prefers not to identify their gender.</desc>
                </valItem>
                <valItem ident="non-binary">
                  <desc>Person does not conform to societal divisions of gender. Related to "gender-nonconforming," "genderqueer," and "gender-questioning."</desc>
                </valItem>
                <valItem ident="pangender">
                  <desc>Person identifies with many genders. This term differs from "bigender" in that it places gender along a diverse spectrum, rather than in a masculine/feminine binary.</desc>
                </valItem>
                <valItem ident="trans*">
                  <desc>An inclusive, umbrella term for persons whose identity or presentation challenges societal gender norms. Includes "transgender," "gender-nonconforming," "genderqueer," "non-binary," etc.</desc>
                </valItem>
                <valItem ident="transgender">
                  <desc>Person whose gender identity does not match their assigned sex.</desc>
                </valItem>
                <valItem ident="trans female">
                  <desc>Transgender person who identifies as female.</desc>
                </valItem>
                <valItem ident="transfeminine">
                  <desc>Transgender person who identifies as feminine within the gender spectrum.</desc>
                </valItem>
                <valItem ident="trans male">
                  <desc>Transgender person who identifies as male.</desc>
                </valItem>
                <valItem ident="transmasculine">
                  <desc>Transgender person identifies as masculine within the gender spectrum.</desc>
                </valItem>
                <valItem ident="trans person">
                  <desc>Transgender person.</desc>
                </valItem>
                <!--<valItem ident="two-spirit">
                  </valItem>-->
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec module="header" ident="catRef" mode="change">
          <classes mode="change">
            <memberOf key="att.datable" mode="add"/>
            <memberOf key="model.imprintPart" mode="add"/>
          </classes>
        </elementSpec>
        
        <elementSpec module="core" ident="resp" mode="change">
          <attList>
            <attDef ident="n" mode="replace">
              <datatype>
                <dataRef name="string"/>
              </datatype>
              <valList type="semi" xml:id="loc-relators">
                <valItem ident="abridger">
                  <desc source="http://id.loc.gov/vocabulary/relators/abr">a person, family, or organization contributing to a resource by shortening or condensing the original work but leaving the nature and content of the original work substantially unchanged. For substantial modifications that result in the creation of a new work, see author.</desc>
                </valItem>
                <valItem ident="adapter">
                  <desc source="http://id.loc.gov/vocabulary/relators/adp">a person or organization who 1) reworks a musical composition, usually for a different medium, or 2) rewrites novels or stories for motion pictures or other audiovisual medium.</desc>
                </valItem>
                <valItem ident="artist">
                  <desc source="http://id.loc.gov/vocabulary/relators/art">a person, family, or organization responsible for creating a work by conceiving, and implementing, an original graphic design, drawing, painting, etc. For book illustrators, prefer Illustrator [ill].</desc>
                </valItem>
                <valItem ident="author">
                  <desc source="http://id.loc.gov/vocabulary/relators/aut">a person, family, or organization responsible for creating a work that is primarily textual in content, regardless of media type (e.g., printed text, spoken word, electronic text, tactile text) or genre (e.g., poems, novels, screenplays, blogs). Use also for persons, etc., creating a new work by paraphrasing, rewriting, or adapting works by another creator such that the modification has substantially changed the nature and content of the original or changed the medium of expression.</desc>
                </valItem>
                <valItem ident="author of afterword, colophon, etc.">
                  <desc source="http://id.loc.gov/vocabulary/relators/aft">a person or organization responsible for an afterword, postface, colophon, etc. but who is not the chief author of a work.</desc>
                </valItem>
                <valItem ident="author of introduction, etc.">
                  <desc source="http://id.loc.gov/vocabulary/relators/aui">a person or organization responsible for an introduction, preface, foreword, or other critical introductory matter, but who is not the chief author.</desc>
                </valItem>
                <valItem ident="autographer">
                  <desc source="http://id.loc.gov/vocabulary/relators/ato">a person whose manuscript signature appears on an item.</desc>
                </valItem>
                <valItem ident="colorist">
                  <desc source="http://id.loc.gov/vocabulary/relators/clr">a person or organization responsible for applying color to drawings, prints, photographs, maps, moving images, etc.</desc>
                </valItem>
                <valItem ident="compiler">
                  <desc source="http://id.loc.gov/vocabulary/relators/com">a person, family, or organization responsible for creating a new work (e.g., a bibliography, a directory) through the act of compilation, e.g., selecting, arranging, aggregating, and editing data, information, etc.</desc>
                </valItem>
                <valItem ident="contributor">
                  <desc source="http://id.loc.gov/vocabulary/relators/ctb">a person, family or organization responsible for making contributions to the resource. This includes those whose work has been contributed to a larger work, such as an anthology, serial publication, or other compilation of individual works. If a more specific role is available, prefer that, e.g. editor, compiler, illustrator.</desc>
                </valItem>
                <valItem ident="copyright holder">
                  <desc source="http://id.loc.gov/vocabulary/relators/cph">a person or organization to whom copy and legal rights have been granted or transferred for the intellectual content of a work. The copyright holder, although not necessarily the creator of the work, usually has the exclusive right to benefit financially from the sale and use of the work to which the associated copyright protection applies.</desc>
                </valItem>
                <valItem ident="cover designer">
                  <desc source="http://id.loc.gov/vocabulary/relators/cov">a person or organization responsible for the graphic design of a book cover, album cover, slipcase, box, container, etc. For a person or organization responsible for the graphic design of an entire book, use Book designer; for book jackets, use Bookjacket designer.</desc>
                </valItem>
                <valItem ident="creator">
                  <desc source="http://id.loc.gov/vocabulary/relators/cre">a person or organization responsible for the intellectual or artistic content of a resource.</desc>
                </valItem>
                <valItem ident="depicted">
                  <desc source="http://id.loc.gov/vocabulary/relators/dpc">an entity depicted or portrayed in a work, particularly in a work of art.</desc>
                </valItem>
                <valItem ident="editor">
                  <desc source="http://id.loc.gov/vocabulary/relators/edt">a person, family, or organization contributing to a resource by revising or elucidating the content, e.g., adding an introduction, notes, or other critical matter. An editor may also prepare a resource for production, publication, or distribution. For major revisions, adaptations, etc., that substantially change the nature and content of the original work, resulting in a new work, see author.</desc>
                </valItem>
                <valItem ident="editor of compilation">
                  <desc source="http://id.loc.gov/vocabulary/relators/edc">a person, family, or organization contributing to a collective or aggregate work by selecting and putting together works, or parts of works, by one or more creators. For compilations of data, information, etc., that result in new works, see compiler.</desc>
                </valItem>
                <valItem ident="illustrator">
                  <desc source="http://id.loc.gov/vocabulary/relators/ill">a person, family, or organization contributing to a resource by supplementing the primary content with drawings, diagrams, photographs, etc. If the work is primarily the artistic content created by this entity, use artist or photographer.</desc>
                </valItem>
                <valItem ident="inker">
                  <desc/>
                </valItem>
                <valItem ident="lender">
                  <desc source="http://id.loc.gov/vocabulary/relators/len">a person or organization permitting the temporary use of a book, manuscript, etc., such as for photocopying or microfilming.</desc>
                </valItem>
                <valItem ident="letterer">
                  <desc/>
                </valItem>
                <valItem ident="other">
                  <desc source="http://id.loc.gov/vocabulary/relators/oth">a role that has no equivalent in the MARC list.</desc>
                </valItem>
                <valItem ident="photographer">
                  <desc source="http://id.loc.gov/vocabulary/relators/pht">a person, family, or organization responsible for creating a photographic work.</desc>
                </valItem>
                <valItem ident="publisher">
                  <desc source="http://id.loc.gov/vocabulary/relators/pbl">a person or organization responsible for publishing, releasing, or issuing a resource.</desc>
                </valItem>
                <valItem ident="translator">
                  <desc source="http://id.loc.gov/vocabulary/relators/trl">a person or organization who renders a text from one language into another, or from an older form of a language into the modern form.</desc>
                </valItem>
                <valItem ident="voice actor">
                  <desc source="http://id.loc.gov/vocabulary/relators/vac">an actor contributing to a resource by providing the voice for characters in radio and audio productions and for animated characters in moving image works, as well as by providing voice overs in radio and television commercials, dubbed resources, etc.</desc>
                </valItem>
                <valItem ident="writer of introduction">
                  <desc source="http://id.loc.gov/vocabulary/relators/win">a person, family, or organization contributing to a resource by providing an introduction to the original work.</desc>
                </valItem>
                <valItem ident="writer of preface">
                  <desc source="http://id.loc.gov/vocabulary/relators/wpr">a person, family, or organization contributing to a resource by providing a preface to the original work.</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>
